.header{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    justify-content: baseline;
    border-bottom: 1px solid lightblue;
    position: relative;
}
/* .container{
    border: 1px solid black;
} */


.logo img{
    width: 156px;
    height: 36px;
    margin: 0px;
}
.search-bar input{
    padding: 5px 5px 0px 40px;
    font-size: 12px;
    line-height: 1.5;
    box-shadow: none;
    width: 350px;
    background: #eaeaea;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    position: relative;
    height: 30px;
    transition: all .1s ease-in .1s;
    
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin:0px 8px 0px 8px;
}
.nav p{
    font-size: 20px;
    color: lightblue;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.main-img1 img{
    width: 512px;
    height: 344px;
}
.topic-categories-title{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(53, 53, 67);
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.topic-categories-title .sctn-line{
    width: 22%;
    height: 1px;
    background: rgb(217, 166, 208);
    margin: 20px 0px 20px 0px;
}
.optns{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
    padding: 10px 0;
}
.optns a{
    text-decoration: none;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
}

/* .text-content{
    display: flex;
    border: 1px solid black;
    background-color: white;
    width: 80px;
} */
/* .overlay-container {
    align-items:center;
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-left: 100px;
} */
.overlay-container img{
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay_container{
    display: flex;
    /* justify-content: center; */
    align-items: center;        
    position: relative;
}
.text_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust this value to set the width of each div */
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); Semi-transparent white */
  }

  .overlay.right {
    left: 50%;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
  }
